// Selection
// --------------------------------------------------
::-moz-selection {
	background-color: lighten($base-color, 65%);
	color: $base-color;
	text-shadow: none;
}
::selection {
	background-color: lighten($base-color, 65%);
	color: $base-color;
	text-shadow: none;
}

// Global Classes
// --------------------------------------------------
.wrap {
	margin: 0 auto;
}
.all-caps {
	text-transform: uppercase;
}
.image-left {
	float: none;
	@media #{$medium} {
		float: left;
	}
}
.image-right {
	float: none;
	@media #{$medium} {
		float: right;
	}
}
.unstyled-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	li {
		list-style-type: none;
	}
}
.inline-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	li {
		list-style-type: none;
		display: inline;
	}
}

// Global Transition
// ---------------------------------------------------
b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a {
	@include transition(all .2s ease);
}

// Header
// --------------------------------------------------
.entry-header {
	width: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 300px;
	overflow: hidden;
	background-color: $header-color;
}

.header-toggle{
	display: block;
	@media #{$large} {
		display: none;
	}
}

.header-title {
	text-align: center;
	position: absolute;
	bottom: 0;
	display: table;
	margin-top: 0;
	width: 100%;
	height: 100px;
	overflow: hidden;
	z-index: 10;
	.header-title-wrap {
		display: table-cell;
		vertical-align: middle;
		margin: 0 auto;
		text-align: center;
	}
	h1 {
		font-weight: 700;
		margin-bottom: 20px;
		@include font-rem(32);
		color: $white;
		text-shadow: 1px 1px 4px rgba($base-color,0.6);
		a {
			color: $white;
		}
		@media #{$medium} {
			@include font-rem(48);
		}
		@media #{$large} {
			@include font-rem(60);
		}
	}
	p {
		color: $white;
	}
}
.header-menu {
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
	z-index: 20;
	ul {
		margin: 0 auto;
		list-style-type: none;
		height: 100%;
		padding: 0;
		@media #{$large} {
			max-width: 800px;
		}
	}
}
.header-menu-top{
	background-color: $menu-top;
}

.header-menu-overflow{
	background-color: $menu-overflow;
	z-index: 100;
}
.header-menu-overflow ul li a{
	color: $white;
}

.header-menu-top .sub-item{
	background-color: $menu-top;
}

.header-menu-overflow .sub-item{
	background-color: $menu-overflow;
}

.header-item,
.header-item-title {
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	border-top-color: transparent;
  border-top-style: solid;
  border-top-width: 5px;
  box-sizing: border-box;
}

.header-item{
	display: none;
	@media #{$large} {
		display: block;
	}
}
.header-item-title{
	float: left;
	border-top-width: 0px;
}

.header-item.active,
.header-item:hover{
  border-top-color: $header-margin;
}

.header-item .header-submenu{
	display: none;
}

.header-item:hover .header-submenu{
	display: block;
	position: absolute;
}

.header-submenu {
	border-top: 2px solid $header-margin;
	width: 200px;
	z-index: 100;
	list-style-type: none;
}

.sub-item {
	position: relative;
	padding-left: 10px;
	width: 100%;
	border-bottom: 1px solid gray;
	height: 50px;
	text-decoration: none;
}

.sub-item a{
	vertical-align: middle;
  display: table-cell;
  height: 50px;
}
.sub-item:hover {
	border-bottom-color: $header-margin;
}
